
body {
    font-family: Arial;
    background: #9bdaea;
    padding: 20px;
}

h1 {
    text-align: center;
}

.buttons {
    text-align: center;
    margin-bottom: 20px;
}

button {
    padding: 10px 15px;
    margin: 5px;
    background: rgb(4, 4, 55);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: darkblue;
}

#newsBox {
    margin-top: 20px;
}

.news-card {
    background: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.news-card img {
    width: 100%;
    border-radius: 5px;
}

.news-card h3 {
    margin: 10px 0;
}
